@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,100,500,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


*{
	margin: 0;
	padding:0;
}

html{
	font-size: 62.5%;
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style-type: none; 

}

nav{
	background-color: #121317;
    padding: 2rem;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    /* SHADOW */
    -moz-box-shadow: 0px 1px 0px 0px #00B4C5;
	-webkit-box-shadow: 0px 1px 0px 0px #00B4C5;
	-o-box-shadow: 0px 1px 0px 0px #00B4C5;
	box-shadow: 0px 1px 0px 0px #00B4C5;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#00B4C5, Direction=180, Strength=0);

}

nav div{
	display: inline-block;
}

nav a{
	color: #b1b1b1;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;

}

#logoNav{
	width: 40%;

}

nav input{
	-webkit-border-radius: 100px;
    -moz-border-radius: 100px;
     border-radius: 100px;

		}

nav label{

}

/*================================
INSCRIPTION
================================*/
#inscription {
	min-height: 100rem;
}
#inscription h2 {
	margin-bottom: 5rem;
}
#inscription form {
	position: relative;
	width: 55rem;
	margin: auto;
}
#inscription form input {
	width: 45rem;
	display: inline-block;
	border: none;
	margin-bottom: 2rem;
	padding: 1.5rem 5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #1a1b1f;
	color: white;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #b1b1b1;
}
 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #b1b1b1;
}
 
input.placeholder, textarea.placeholder {
    color: #b1b1b1;
}
#inscription form button {
	width: 55rem;
	padding: 1.5rem 5rem;
	background-color: #00B4C5;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	border: none;
}

/*================================
CONNEXION
================================*/
#connexion {
	min-height: 100rem;
}
#connexion h2 {
	margin-bottom: 5rem;
}
#connexion form {
	position: relative;
	width: 55rem;
	margin: auto;
}
#connexion form input {
	width: 45rem;
	display: inline-block;
	border: none;
	margin-bottom: 2rem;
	padding: 1.5rem 5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #1a1b1f;
	color: white;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #b1b1b1;
}
 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #b1b1b1;
}
 
input.placeholder, textarea.placeholder {
    color: #b1b1b1;
}
#connexion form button {
	width: 55rem;
	padding: 1.5rem 5rem;
	background-color: #00B4C5;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	border: none;
}

/* ========================
MESSAGE DE CONNEXION 
========================== */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content p{
	font-size: 1.5rem;
	font-style: normal;
	text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    color: white;
}

/*================================
RECHERCHE
================================*/
#resultat {
	min-height: 100rem;
}
#resultat h2 {
	margin-bottom: 4rem;
}
#resultat p {
	font-style: normal;
	text-align: center;
}

nav form {
	margin-top: .7rem;
}
nav input {
	background: white;
	border: none;
	margin-right: .5rem;
}

#resultat article{
    display: inline-block;
    width: 17.7%;
    text-align: center;
    margin: 0 1.2rem 6rem 1.2rem;
}

#resultat article img{
	width: 100%;
	margin-bottom: 1rem;
} 

/* ================================
MESSAGE HOME
================================ */
#home {
	max-width: 115rem;
	margin: auto;
	text-align: center;
	color: white;
}
#home h1 {
	width: 50rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.3rem;	
	margin: auto;
	padding-bottom: .5rem;
	margin-bottom: 1rem;
	/* ==== SHADOW ==== */
	-moz-box-shadow: 0px 1px 0px 0px #00b4c5;
	-webkit-box-shadow: 0px 1px 0px 0px #00b4c5;
	-o-box-shadow: 0px 1px 0px 0px #00b4c5;
	box-shadow: 0px 1px 0px 0px #00b4c5;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#00b4c5, Direction=180, Strength=0);
}
#home h1 span {
	font-family: 'Montserrat', sans-serif;
}
#home p {
	font-style: normal;
	margin-bottom: 4rem;
	font-size: 1.4rem;
}
#home p span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

#searchNav{
	right: 4rem;
    position: absolute;

}

nav form i {
	color: #fff;
}

main{
	background-color: #1a1b1f;
	padding: 4rem;

}

main img{
	display: block;
	margin-bottom: 1rem;
}

main .btn a{
	background-color: #00B4C5;
	font-family: 'Roboto', sans-serif;
	padding: 0.8rem 3.7rem;	
	font-size: 1.5rem;
}

h2{
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	color: #00b4c5;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	text-transform: uppercase;

	/* ==== SHADOW ==== */
	-moz-box-shadow: 0px 1px 0px 0px #00b4c5;
	-webkit-box-shadow: 0px 1px 0px 0px #00b4c5;
	-o-box-shadow: 0px 1px 0px 0px #00b4c5;
	box-shadow: 0px 1px 0px 0px #00b4c5;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#00b4c5, Direction=180, Strength=0);

}

h3{
	font-size: 1.8rem;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 1.5rem;
}

h3 span {
	float: right;
	font-style: italic;
	font-weight: 300;
	color: #b1b1b1;
}

h4{
	color: #b1b1b1;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
}

p{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
	font-style: italic;
}

section{
	max-width: 115rem;
	padding: 3rem;
	margin: auto;
	margin-bottom: 3rem;
	margin-bottom: 2rem;
	background-color: #292b30;
}

article a:first-of-type{
	margin-right: 2rem;
}



#newFilm article{
    display: inline-block;
    width: 17.7%;
    text-align: center;
}

#newFilm article:not(:last-of-type){
	margin-right: 3rem;
}

#newFilm article img{
	width: 100%;
	margin-bottom: 1rem;
}

/*new film 2*/
#newFilm2 article{
    display: inline-block;
    width: 17.7%;
    text-align: center;
}

#newFilm2 article:not(:last-of-type){
	margin-right: 3rem;
}


#newFilm2 article img{
	width: 100%;
	margin-bottom: 1rem;
}
/*------------------*/


/*div pour gerer les sections*/
#SorAct{
	position: relative;
	left: 1rem;
	max-width: 123rem;
	margin: auto;
}

#SorAct section{
	display: inline-block;
	vertical-align: top;
}

#SorAct article{
	width: 30%;
}

.video-container {
	width: 69%;
	margin-right: 0.4rem;
}

.video-container, #SidVid, #vidBtn {
	display: inline-block;
	vertical-align: top;
}

#vidBtn {
}

.video-container iframe {
    width: 97%;
    height: 27rem;
}

/*section avec la video*/
#lastRealease{
	width: 58%;
	margin-right: 3rem;
	display: inline;

}

#filmVideo{
	width: 50%;
}

#lastRealease #SidVid p:nth-child(2) {
	margin-bottom: .9rem;
}

#lastRealease #SidVid p:nth-child(6) {
	margin-bottom: .9rem;
}

#lastRealease #SidVid p:nth-child(8) {
	margin-bottom: 1rem;
}

#SidVid a {
	display: inline-block;
    margin-top: 1.2rem;
}

/* DERNIER ACTIVITEES COMMUNAUTES*/

#activity{
	width: 28%;
}

#activity h2 {
	font-size: 1.9rem;
}

#activity li {
	color: #fff;
	font-size: 1.2rem;
}

#activity li span{
	color: #b1b1b1;
}


/**/

main li{
	margin-top: 3rem;
	margin-bottom: 1.8rem;
}

main li p{
	font-size: 1.7rem;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	text-align: justify-all;
}

main li p span{
	font-size: 1.7rem;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #b1b1b1;
	font-weight: 300;
}

#Disco{
	width: 61.5%;
}

#Disco article{
    display: inline-block;
    width: 27.5%;
    text-align: center;

}

#Disco article:not(:last-of-type){
	margin-right: 5.9rem;
}


#Disco article img{
	width: 100%;
	margin-bottom: 1rem;
}

#TopDisc{
	position: relative;
	left: 1rem;
	max-width: 123rem;
	margin: auto;
}

#TopDisc section{
	display: inline-block;
	vertical-align: top;
}

#TopCom li{
	margin-top: 2.9rem;
	margin-bottom: 1.4rem;
}

#TopCom{
	margin-right: 3.5rem;
}

/* ==================
DECOUVRIR
=================*/

#SecDecouvrir article{
    display: inline-block;
    width: 17.7%;
    text-align: center;
    margin: 0 1.2rem 6rem 1.2rem;
}

#SecDecouvrir article img{
	width: 100%;
	margin-bottom: 1rem;
} 

#decouvrir{
		color: #00b4c5;
}

/* ==================
DECOUVRIR
=================*/



/*#Disco article {
	margin-right: 5.5rem;
}*/

footer {
	background-color: #121317;
    padding: 2rem;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: center;	
    /* SHADOW */
    -moz-box-shadow: 0px -1px 0px 0px #00B4C5;
	-webkit-box-shadow: 0px -1px 0px 0px #00B4C5;
	-o-box-shadow: 0px -1px 0px 0px #00B4C5;
	box-shadow: 0px -1px 0px 0px #00B4C5;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#00B4C5, Direction=90, Strength=0);

}

/* ======================= PAGE PROFIL ======================= */
#profilUser article{
	display: inline-block;
	width: 24%;
	vertical-align:middle;
    text-align: center;
}
#profilUser article:not(:last-of-type){
    margin-right: 4.6rem;
}
#profilUser article:first-of-type {
	width: 15%;
}
#imgDeProfil{
	height: 12rem;
	margin: auto;
	margin-bottom: 1rem;
}
/* ====== USER ===== */
#User p{
	margin-bottom: 2rem;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	padding-bottom: 1rem;
	margin-bottom: 3rem;
	/* ==== SHADOW ==== */
	-moz-box-shadow: 0px 1px 0px 0px #00b4c5;
	-webkit-box-shadow: 0px 1px 0px 0px #00b4c5;
	-o-box-shadow: 0px 1px 0px 0px #00b4c5;
	box-shadow: 0px 1px 0px 0px #00b4c5;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#00b4c5, Direction=180, Strength=0);
}
#User a{
	padding: 1rem 6rem;	
	margin: 0;
	background-color: #00B4C5;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
}
/* ====== LISTE ===== */
.titleProf{
	font-style: normal;
	font-size: 1.7rem;
	font-family: 'Montserrat', sans-serif;
	color: #b1b1b1;
	margin-bottom: 1rem;
}
.number{
	color: white;
	font-size: 10rem;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	/* ==== SHADOW ==== */
	-moz-box-shadow: 0px 1px 0px 0px #1a1b1f;
	-webkit-box-shadow: 0px 1px 0px 0px #1a1b1f;
	-o-box-shadow: 0px 1px 0px 0px #1a1b1f;
	box-shadow: 0px 1px 0px 0px #1a1b1f;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#1a1b1f, Direction=180, Strength=0);
}
.separate{
	display: inline-block;
	width: 48%;
	margin-bottom: 4rem;
}
.separate:first-of-type{
	/* ==== SHADOW ==== */
	-moz-box-shadow: 1px 0px 0px 0px #1a1b1f;
	-webkit-box-shadow: 1px 0px 0px 0px #1a1b1f;
	-o-box-shadow: 1px 0px 0px 0px #1a1b1f;
	box-shadow: 1px 0px 0px 0px #1a1b1f;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#1a1b1f, Direction=90, Strength=0);
}
#profilUser article:last-of-type {
	vertical-align: bottom;
}
#follow{
	/* ==== SHADOW ==== */
	-moz-box-shadow: 0px 1px 0px 0px #1a1b1f;
	-webkit-box-shadow: 0px 1px 0px 0px #1a1b1f;
	-o-box-shadow: 0px 1px 0px 0px #1a1b1f;
	box-shadow: 0px 1px 0px 0px #1a1b1f;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#1a1b1f, Direction=180, Strength=0);
}
.littleNumber{
	color: white;
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
}
#profilUser li {
	margin: 1.5rem 0 0 0;
}

/* ====== TOP / AWARDS ====== */
#TopAwa {
	position: relative;
	max-width: 121rem;
	margin: auto;
}
#TopAwa section{
	display: inline-block;
	vertical-align: top;
}
#TopReaActGen {
	width: 60%;
	margin-right: 3rem;
	position: relative;
}
#TopReaActGen h2{
	margin-bottom: 3rem;
}
#TopReaActGen article {
	display: inline-block;
	width: 33%;
	text-align:center;
	vertical-align: top;
}
#TopReaActGen img{
	width: 15rem;
	margin: auto;
	margin-bottom: 1rem;
	/*border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;*/
}
#Awa {
	width: 27.3%;
	height: 33.5rem;
}
#Awa p {
	text-align: center;
	font-style: normal;
}


/* ========================== Detail ========================== */
/* Section  */
#DetailsFilm img {
	width: 29rem;
	margin-right: 3.5rem;
}
#DetailsFilm article {
	display: inline-block;
}
#DetailsFilm article:nth-of-type(2) {
	width: 71%;
	vertical-align: top;
}
#DetailsFilm h3 {
	font-size: 2.8rem;
	padding-bottom: .5rem;
	/* ==== SHADOW ==== */
	-moz-box-shadow: 0px 1px 0px 0px #00b4c5;
	-webkit-box-shadow: 0px 1px 0px 0px #00b4c5;
	-o-box-shadow: 0px 1px 0px 0px #00b4c5;
	box-shadow: 0px 1px 0px 0px #00b4c5;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#00b4c5, Direction=180, Strength=0);
}
#DetailsFilm h4 {
	font-size: 1.8rem;
	margin-bottom: .5rem;
}
#DetailsFilm p {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
#cast {
	margin-bottom: 2rem;
}
#cast p{
	display: inline-block;
	margin: 0 2.5rem 1rem 0;
}
#DetailsFilm .btn a {
	padding: 1.5rem 8rem;	
	float: right;
	margin: 0 0 0 2rem;
}

/*systeme de notation designe des etoiles*/
.rating a {
   float: right;
   color: #fff;
   text-decoration: none;
   font-size: 2.3em;
   transition: color .4s;
   margin: 1rem 1rem 0 0 ;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: #00B4C5;
   cursor: pointer;
}